/* место для вашего кода */
/* GLOBALS */

body {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
}

li {
  list-style: none;
}


/* HEADER */

.header {
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  min-height: 293px;
}

.header__menu {    
  width: 100%;
}

.header__menu-list {
  display: flex;
  justify-content: space-evenly;
}


.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__logo-image {
  width: 105px;
  height: 148px;
}

.header__adress {
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  line-height: 135%;
}


/* SECTION 1 */

.cover {
  z-index: 0;
  color: white;
  text-transform: uppercase;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px;  
  width: 1100px;
  height: 757px; 
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover:before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .4);
}

.cover__title {  
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  width: 100%;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;  
}

.last-letter {
  letter-spacing: 0;
}

.description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;  
}

.description__text {
  width: 637px;
  text-align-last: justify;
}

.description__button {
  display: block;
  text-transform: uppercase;
  background: none;
  color: white;
  border: 1px solid white;
  font-weight: 500;
  padding: 12px 30px;
}


/* SECTION 2 */

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 180px 24px 120px 24px;
}

.lots__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 40px;
}

.lots__cards-list {
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 25px;
}

.lots__card-item {
  z-index: 0;
  flex-basis: 334px;
  height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  position: relative;
}

.lots__card-item::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .4);
}

.card-1 {
  background-image: url('/images/card-lot-01.jpg');
}

.card-2 {
  background-image: url('/images/card-lot-02.jpg');
}

.card-3 {
  background-image: url('/images/card-lot-03.jpg');
}

.card__link {
  text-decoration: none;
}

.card_content {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__see-more {
  padding-left: 40px;
  font-size: 20px;
}


/* SECTION 3 */

.about {
  padding: 60px 24px 120px 24px;
  display: grid;
  grid-template-columns: 1fr 690px;
  grid-template-rows: 1fr 1fr;
  column-gap: 24px;
}

.about__logo {
  width: 240px;
  height: 240px;  
  align-self: center;
  justify-self: center;
}

.about__title {
  align-self: center;
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {  
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
  line-height: 1.2em;
}


/* FOOTER */

.footer {
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
  justify-self: end;
  max-width: 260px;
  font-style: normal;
  line-height: 135%;
  justify-self: start;
}

.footer__menu {
  text-align: center;
}


.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}